.wrapper {
  // min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  // padding: 80px 0;
  padding-top: 80px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
  }
}

.textContent {
  flex: 1;
  max-width: 600px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  @media (max-width: 900px) {
    max-width: 100%;
  }
}

.title {
  line-height: 1.1;
  margin-bottom: 10px;
  font-size: 72px;

  @media (max-width: 1200px) {
    font-size: 60px;
  }

  @media (max-width: 900px) {
    font-size: 48px;
  }

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.description {
  margin: 20px 0 30px;
  font-size: var(--mantine-font-size-xl);

  @media (max-width: 900px) {
    font-size: var(--mantine-font-size-lg);
  }

  @media (max-width: 600px) {
    font-size: var(--mantine-font-size-md);
  }
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: var(--mantine-radius-md);
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}

.button {
  @media (max-width: 900px) {
    margin: 0 auto;
  }
}
