.header {
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.burger {
  display: none;

  @media (max-width: 48em) {
    display: block;
  }
}

.link {
  color: var(--mantine-color-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
    color: var(--mantine-primary-color-filled);
  }
}

.links {
  @media (max-width: 48em) {
    display: none;
  }
}

.dropdown {
  position: relative;
  z-index: 999;
  background-color: var(--mantine-color-body);
  padding: 1rem 0;
  border-bottom: 1px solid var(--mantine-color-gray-3);
  display: none;
  text-align: center;
  margin: 0 calc(var(--mantine-spacing-md) * -1);

  @media (max-width: 48em) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
