.wrapper {
  //   padding: 120px 0;
  padding-top: 80px;
}

.header {
  margin-bottom: 80px;
}

.grid {
  width: 100%;
}

.card {
  padding: 40px;
  //   background-color: var(--mantine-color-dark-6) !important;
  //   background-color: red !important;
  transition: transform 0.2s ease;
  border: 1px solid rgb(225, 222, 222);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);

    .icon {
      transform: translateX(5px);
    }
  }
}

.iconWrapper {
  width: 48px;
  height: 48px;
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-violet-filled);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  color: white;
  transition: transform 0.2s ease;
}
